.starraing img {
    width: 15px; /* ปรับขนาดความกว้างของรูปเป็น 100px */
    height: 15px; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */

}

.starraing  {
    gap: 10px; /* กำหนดความระยะห่างระหว่างรูปภาพ */


}

.star {
  width: 12px; /* Size of the star */
  height: 12px; /* Maintain the aspect ratio */
  background-image: url('/icon/sart.svg'); /* Add the star icon file path */
  background-size: contain; /* Make sure the image fits within the box */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: inline-block; /* To make it act as a block element */
}

.ratingflex{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
