.detailproduct{
    background: #fff;
  border-radius: .125rem;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  margin-top: .9375rem;
  overflow: hidden;
  padding: .625rem;
}



.Id_w{
    padding: .9375rem .9375rem 0;
}


.Gfw{
    margin: 1.875rem .9375rem .9375rem;
}

.e8{
      color: rgba(0,0,0,.8);
  font-size: .875rem;
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.QN {
  color: rgba(0,0,0,.8);
  font-size: .875rem;
  line-height: 1.7;
  white-space: pre-wrap;
}