.flex {
    display: flex;
    flex-wrap: wrap;
    
}

.product-item{
height: 188px;
  margin-bottom: 4px;
  width: 188px;
  }

  .product-image {
  width: 100%; /* Make image take the full width of the container */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the area without distorting */
  border-radius: 10px; /* Optional: round the corners of the image */
}




.text-duct{
    margin: 4px 8px 0;
}

.titile-duct{
    font-size: 14px;
  line-height: normal;
  margin-bottom: 4px;
}
/*line block */
.two-line-clamp{
-webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.two-line-clamp{
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.product-item{

font-family: NotoSans-Regular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei,sans-serif !important;
}

.price-flex1{
    color: #f57224;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  height: 22px;
  letter-spacing: -.56px;
  line-height: 22px;
  margin-bottom: 4px;
}

.origin-price{
display: flex;
  flex-direction: row;
  line-height: 12px;
  }

  .origin-price-main{
    color: #9e9e9e;
  display: flex;
  flex-direction: row;
  text-decoration: line-through;
}

  .origin-price-main{
    font-size: 12px;
  }

.discout
  {
  color: #212121;
  font-size: 12px;
  margin-left: 4px;
  }

  /*use later
  .fs-card-sold {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 16px;
  margin-bottom: 7px;
}*/


.box-procduct{
  height: 290px;
margin-bottom: 20px;
    margin-right: 10.5px;
      width: 188px;
  
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
  cursor: pointer; /* Change the cursor to pointer when hovering */
  background-color: #fff;

}
.box-procduct:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); /* Box shadow on hover */

}
.common-img {
  display: inline-flex;
}

.three-line-clamp, .two-line-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.starraing img {
    width: 15px; /* ปรับขนาดความกว้างของรูปเป็น 100px */
    height: 15px; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */

}

.starraing  {
    gap: 10px; /* กำหนดความระยะห่างระหว่างรูปภาพ */


}

.star {
  width: 12px; /* Size of the star */
  height: 12px; /* Maintain the aspect ratio */
  background-image: url('/icon/sart.svg'); /* Add the star icon file path */
  background-size: contain; /* Make sure the image fits within the box */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: inline-block; /* To make it act as a block element */
}

.ratingflex{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.sold{
        color: #9e9e9e;
    font-size: 12px;
}